
@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Galeri</title>
</head>
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Galeri</title>
</head>
<body style="background-color: yellow;">
    <h2>Galeri</h2>

    <style>
        .zoomable {
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }

            .zoomable:hover {
                transform: scale(1.5);
            }
    </style>

    <img src="~/resimlerrrr/resim2.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

    <img src="~/resimlerrrr/resim3.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

    <img src="~/resimlerrrr/resim4.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

    <img src="~/resimlerrrr/resim5.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

    <img src="~/resimlerrrr/resim6.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

    <img src="~/resimlerrrr/resim7.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

    <img src="~/resimlerrrr/resim8.jpeg"
         alt="resim bulunamadı" width="300 px"  height="300px"
         class="zoomable">

</body>
</html>
